<!DOCTYPE html>

<html>
    <head>
        <title>Especialidades</title>

        <body>
           <table>

                <thead>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            Microbiology
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Genetics
                        </td>
                    </tr>
                </tbody>
           </table> 
        </body>
    </head>
</html>